*,
a::before,
a::after {
  margin: 0;
  box-sizing: inherit;
}
html { scroll-behavior: smooth; }
.App {
  font-family: "futura", "sans-serif";
  text-align: center;
}
.hero-container {
  position:relative;
}
.hero-image {
  max-width: 100vw;
}
.hero-subtitle {
  transform: translateY(-50px);
  font-size: 1.4em;
  font-style: italic;
  color:#FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
}
header h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#aa3333, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffff00;
}

main {
  padding: 24px 24px 40px 24px;
}
#character-select label,
#character-select select {
  font-size: 1.4em;
  padding: 4px 8px;
}
.results {
  padding-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.results p {
  margin-bottom: 12px;
}
span.saying {
  font-style: italic;
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0b3c;
  color: #ffffff;
}
footer > a {
  color: #ffffff;
  margin: 8px;
}
