*, a::before, a::after { margin:0; box-sizing: inherit;}

.App {
  font-family: 'futura','sans-serif';
  text-align:center;
}

header h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#AA3333, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFF00;
}

#character-select label, #character-select select {
  font-size: 1.4em;
  padding: 4px 8px;
}